* {
    margin: 0%;
    padding: 0%;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #4dd172;
}

header, footer {
    background-color: #ffbc1f;
    display: grid;
    place-items: center;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: #4dd172;
}

section img {
    height: auto;
    width: 30vh;
}

section {
    display: flex;
}